.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: var(--white);
  background-color: var(--light-black);
}
.welcome-text {
  text-align: center;
}
.about-me {
  padding-top: 1rem;
}

.about-me-intro {
  padding-top: 1rem;
}

.contact-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--lavender);
  background-color: var(--black);
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-bottom: 2px outset rgb(0, 0, 0);
  border-left: 2px outset rgb(0, 0, 0);
  border-right: 2px outset rgb(0, 0, 0);
  border-top: 2px outset rgb(0, 0, 0);
}

.contact-link:hover {
  text-decoration: underline;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: var(--black);
  background-color: var(--black);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.tech-stack-wrapper {
  background-color: var(--light-black);
  padding: 2rem;
}

.tech-stack-title {
  text-align: center;
  color: var(--white);
}

.tech-stack-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 2rem 3rem;
}

.tech-stack {
  padding: 1rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .about-me-intro {
    text-align: center;
    padding: 1rem;
    margin: 0 10rem;
  }
}
