.project-container {
  background-color: var(--light-black);
}

.project-text {
  color: var(--white);
  font-weight: bold;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--light-black);
}

.intro-text {
  font-weight: lighter;
}
.project-article {
  background-color: var(--black);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.contact-text {
  color: var(--white);
  font-weight: bold;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-black);
  text-decoration: none;
}

.contact-text:hover {
  text-decoration: underline;
}
