.footer-container {
  background-color: var(--black);
}

.email-icon,
.linkedin-icon,
.github-icon {
  font-size: 2rem;
  padding: 2rem 1rem;
  color: var(--white);
}

.email-icon:hover,
.linkedin-icon:hover,
.github-icon:hover {
  color: var(--lavender);
  cursor: pointer;
}

.footer-text {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 0rem 1rem 2rem 1rem;
  color: var(--white);
  text-decoration: none;
}
