.footer-container {
  background-color: var(--black);
}

.email-icon,
.linkedin-icon,
.github-icon {
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
  color: var(--white);
}

.footer-text {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
  color: var(--white);
  text-decoration: none;
}
