.hamburger-menu-icon {
  cursor: pointer;
  display: block;
  padding: 1rem;
  color: var(--white);
  font-size: 2rem;
}

.menu-list {
  display: none;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 1.5rem;
  position: absolute;
  top: 4em;
}

.menu-list.open {
  display: flex;
  background-color: var(--light-black);
}

.menu-list-item a {
  color: var(--white);
  text-decoration: none;
  font-size: 1rem;
}

.menu-list a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .hamburger-menu-icon {
    display: none;
  }

  .menu-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem 2rem;
    position: absolute;
    top: 0;
    right: 0;
  }
}
